header {
    background-color: rgb(29, 146, 185);
    background-image: url(../img/pattern.png);
    background-size: contain;
    height: 160px;
}

#thebooleaner {
    height: 80px;
    margin-top: 80px;
}

h1 {
    font-size: 50px;
    margin-bottom: 0%;
}

.grigiume {
    color: lightslategray;
    width: 200px;
    margin-top: 0%;
}

#booleaner-azzurro {
    color: rgb(61, 204, 240);
}

#doppia-foto-tim{
    margin-left: 0;
}

.evi-giallo {
    background-color: yellow;
}

ul{
    padding-left: 1%;
} 

#testo-tabella {
    text-align: left;
}

thead{
    background-color: rgb(61, 204, 240);
    color: white;
}

.tab-sfondo-azzurro{
    background-color: rgba(61, 204, 240, 0.5);
}

#titoletto-grigio {
    color: lightslategray;
    margin-top: 40px;
    margin-left: 0%;
    padding: 0%;
}

h2{
    margin-left: 10px;
    padding: 10px;
}

#foto-monitor{
    height: 208px;
    width: 312px;
    background-image: url(../img/monitor.jpg);
    color: white;
}

#foto-grafico{
    height: 208px;
    width: 312px;
    background-image: url(../img/graph.jpg);
    color: white;
}

footer{
    text-align: center;
    margin-top: 100px;
}



