body {
    text-align: left;
}

header {
    background-color: rgb(29, 146, 185);
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-repeat: repeat;
}

.contenitore-titolo {
    height: 200px;
}

#thebooleaner {
    height: 50%;
}

h1 {
    font-size: 60px;
}

.grigiume {
    color: lightslategray;
    width: 200px;
}

#booleaner-azzurro {
    color: darkcyan;
}

.evi-giallo {
    background-color: yellow;
}

thead{
    background-color: blue;
    color: white;
}

.tab-sfondo-azzurro{
    background-color: rgb(139, 139, 211);
}

h2 {
    color: lightslategray;
}

#foto-monitor{
    height: 200px;
    width: 300px;
    background-image: url(../img/monitor.jpg);
    text-align: center;
}

#foto-monitor{
    height: 200px;
    width: 300px;
    background-image: url(../img/monitor.jpg);
    text-align: center;
    color: white;
}

#foto-grafico{
    height: 200px;
    width: 300px;
    background-image: url(../img/graph.jpg);
    text-align: center;
    color: white;
}

footer{
    text-align: center;
}



