body {
    text-align: left;
}

header {
    background-color: rgb(29, 146, 185);
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-repeat: repeat;
}

.contenitore-titolo {
    height: 200px;
}

#thebooleaner {
    height: 50%;
}

h1 {
    font-size: 60px;
}


